# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/

coverage/

# Dependency directories
jspm_packages/
bower_components/

# Temporary files
*.tmp
*.temp

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Others
*.tgz
